<html>
  <head>
    <style>
      img {
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
      fieldset {
          border:1px solid black;
          margin:auto;
      }
      .button {
          text-align:center;
          background-color:#4CAF50;
          color:white;
          border: none;
          padding: 15px 32px;
          font-size: 15px;
          border-radius: 12px;
      }
      .tiny_butt {
          padding: 7px 15px;
          text-align:center;
          border: none;
          color:white;
          font-size: 14px;
          border-radius: 12px;
      }
      .divi {
         text-align:center;
         font-size: 60px;
      }

      .form {
        float:left;
        margin:10px;
      }

    </style>
  </head>
  <body style="background-color:powderblue;">
    <div class="divi"> Welcome to my Website </div><br>
    <!-- External link to an image src="http://lorempixel.com/output/nature-q-c-640-480-1.jpg" -->
    <img src="https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/France/Paris/Parisnightlife_ALAMY_TRAVELF3463P.jpg"
         alt="Random pic from the internet"
         width="640"
         height="480"
         align="middle">
    <br>
    <%= yield %>
  </body>
</html>
